@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Afacad Flux", serif;
}

#root{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fffcf7;
}



